/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

header {
    background-color: #d6d6de;
    color: #0b0b34;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;
}

header img {
    height: 32px;
}

header a{
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #0b0b34;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #04041a;

    display: flex;
}

main {
    flex-grow: 1;
}

.poster {
    width: 200px;
    border-radius: 12px;
}

.livros-card {
    background-color: #d6d6de;
}

footer {
    color: #d6d6de;
    text-align: center;
}