{% extends 'layout.html' %}

{% block title %} EVir - {{movie.title}} {% endblock %}

{% block content %}
    <div class="detalhes-container">
        <div class="voltar">
            <a href="{{url_for('index')}}">&larr; Voltar para a Lista</a>
        </div>
        
        <div class="area-livro">
            <div class="poster">
                <img src="{{book.poster}}" alt="Capa do Livro '{{book.title}}', por {{book.author}}">
            </div>

            <div class="review">
            <h1> {{book.title}} </h1>
            <p><strong>Por:</strong> {{book.author}}</p>
            <p><strong>Concluído em:</strong> {{book.conclusion_date}}</p>

            <div class="rating-details">
                <p><strong>Avaliação:</strong></p>
                <div class="rating">
                    {% for i in range(5) %}
                        {% if (i+1) <= (book.rating|int) %}
                            <span>★</span>
                        {% else %}
                            <span class="empty-star">★</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <p><strong>Resenha:</strong><br> {{book.review}} </p>
        </div>
    </div>
{% endblock %}