{% extends 'layout.html' %}

{% block title %} EVir - Home {% endblock %}

{% block content %}
    <div class="livros-container">
        {% for book in books %}

            <a href="{{ url_for('show_details', book_id=book.id) }}" class="card-link">
                <div class="livros-card">    
                    <img src="{{ book.poster }}" alt="Capa do Livro '{{book.title}}', por {{book.author}}">
                    <h3>{{book.title}}</h3>
                    <p class="autor"><i>Por: {{book.author}}</i></p>
                    <div class="rating">
                        {% for i in range(5) %}
                            {% if (i+1) <= (book.rating|int) %}
                                <span>★</span>
                            {% else %}
                                <span class="empty-star">★</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}